.bio-text{
    font-size: 2rem;
    text-align: center;
    margin: 1.5em 3em;
    background-color: hsl(0, 100%, 0%, 0.5);
}

/** 
** Responsive
**/
@media screen and (max-width: 1600px){
    .main_img{
        width:30%;
    }
}

@media screen and (max-width: 1024px){
    .main_img{
        display: none;
    }
    .bio{
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    .bio img{
        height: 100%;
        width: 100%;
    }
}

  @media screen and (max-width: 768px){
    .bio-text{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 460px){
    .bio-text{
        font-size: 1rem;
    }
}